pageNavLinkGroup {
    display: table;
    table-layout: fixed;
    box-sizing: border-box;
    font-size: 11px;
    margin: 10px 0;
    line-height: 16px;
}

.PageNav{
  font-size:11px;
  padding:10px 20px;
  overflow:hidden;
  zoom:1;
  line-height:16px;
  word-wrap:normal;
  min-width:150px;
  white-space:nowrap;
  margin-bottom: -.5em;
}

PageNav pn5 {
  float:right;
}
 
.PageNav.hidden{
  display:none;
}

.PageNav .pageNavHeader, .PageNav a, .PageNav.scrollable{
  display:block;
  float:left;
  margin-right:3px;
  margin-bottom: .5em;
}

.PageNav .pageNavHeader{
  padding:1px 0;
}

.PageNav a{
  color:#000000;
  text-decoration:none;
  background-color:rgb(255, 253, 253);
  border:1px solid #42c011;
  border-radius:3px;
  text-align:center;
  width:19px;
}

.PageNav a[rel=start]{
  width:19px !important;
}

.PageNav a.text{
  width:auto !important;
  padding:0 4px;
}

.PageNav a.currentPage{
  color:rgb(255,255,255);
  background-color:#45ae18;
  border-color:rgb(42,76,147);
  position:relative;
}

a.PageNavPrev, a.PageNavNext{
  color:rgb(20,20,20);
  background-color:transparent;
  padding:1px;
  border:1px none black;
  cursor:pointer;
  width:19px !important;
}

.PageNav a:hover, .PageNav a:focus{
  color:rgb(255, 255, 255);
  text-decoration:none;
  background-color:#45ae18;
  border-color:rgb(42, 76, 147);
}

.PageNav a.distinct{
  margin-left:3px;
}

.PageNav .scrollable{
  position:relative;
  overflow:hidden;
  width:117px;
  height:18px;
}

.PageNav .scrollable .items{
  display:block;
  width:20000em;
  position:absolute;
  display:block;
}

.PageNav .gt999{
  font-size:9px;
  letter-spacing: -0.05em;
}

.PageNav.pn5 a{
  width:29px;
}

.PageNav.pn5 .scrollable{
  width:167px;
}

.PageNav.pn6 a{
  width:33px;
}

.PageNav.pn6 .scrollable{
  width:187px;
}

.PageNav.pn7 a{
  width:37px;
}

.PageNav.pn7 .scrollable{
  width:207px;
}

@media (max-width:610px){
  .Responsive .PageNav

.pageNavHeader{display:none}}@media (max-width:480px){.Responsive .PageNav